<div
   class="d-flex justify-content-center align-items-center"
   style="flex-direction: column;"
>
   {{>alert}}
   <div class="card text-center">
      <div class="card-header">Home</div>
      <div class="card-body">
         <h5 class="card-title">Welcome {{name}}</h5>
         <p class="card-text">Welcome to Node Js Passport Authentication</p>
         <a href="/logout" class="btn lead btn-primary">Logout</a>
         <a href="/protected-route" class="btn btn-primary">Protected Route</a>
      </div>
      <div class="card-footer text-muted">
         Thankyou For Visiting
      </div>
   </div>
</div>